<div class="row">
  <img src="https://a.cdn-hotels.com/cos/production68/d892/9e249790-1b97-11e8-a213-0242ac110177.jpg" class="img-fluid" alt="" style="width: 100%">
</div>
<div class="container">

  <div class="row my-4">
    <div class="col-sm-4 my-4">

      <div class="card" style="height: 100%;">

        <!--Card image-->
        <img class="img-fluid" src="https://a.cdn-hotels.com/cos/production104/d1824/ecbc06f0-1b96-11e8-99d9-0242ac110139.jpg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Hotels</h4>
          <!--Text-->
          <p class="card-text">Get inspiration for your next trip.</p>
          <a [routerLink]="'/home'" class="btn btn-primary waves-light" mdbRippleRadius>Book Now</a>
        </div>

      </div>

    </div>
    <div class="col-sm-4 my-4">

      <div class="card" style="height: 100%;">

        <!--Card image-->
        <img class="img-fluid" src="https://a.cdn-hotels.com/cos/production55/d407/ee370e30-1b96-11e8-99d9-0242ac110139.jpg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">RestHouse</h4>
          <!--Text-->
          <p class="card-text">It's never too late to get great prices.</p>
          <a [routerLink]="'/home'" class="btn btn-primary waves-light" mdbRippleRadius>Book Now</a>
        </div>

      </div>

    </div>
    <div class="col-sm-4 my-4">

      <div class="card " style="height: 100%;">

        <!--Card image-->
        <img class="img-fluid" src="https://a.cdn-hotels.com/cos/production34/d1189/ecb43ec0-1b96-11e8-861f-0242ac110237.jpg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Holiday Homes</h4>
          <!--Text-->
          <p class="card-text">Get an amazing deal before it's late.</p>
          <a [routerLink]="'/home'" class="btn btn-primary waves-light" mdbRippleRadius>Book Now</a>
        </div>

      </div>

    </div>
  </div>

</div>

