<div class="route-page">
  <form [formGroup]="signUpFormData" (ngSubmit)="onSignUp()" novalidate >
    <div class="mdb-color darken-1" style="padding-top: 20px;padding-bottom: 30px; min-height: 65vh;">
      <div class="container">

        <div class="row container-fluid">
          <p class="h5 mb-4" style="color: #9e9e9e; border: 2px solid #9e9e9e; border-radius: 8px; padding: 12px 20px; font-size: 30px; font-family: 'Comic Sans MS'"><em>Sign Up</em></p>
        </div>

        <div class="row" style="margin-top: 5vh;">

          <div class="col-sm-6">

            <div class="md-form">
              <input type="text" formControlName="fullName" id="fullName" class="form-control" style="color: #fff;" mdbActive mdbInputValidate>
              <label for="fullName">Full Name</label>
            </div>

            <br>

            <div class="md-form">
              <input type="text" formControlName="userName" id="userName" class="form-control" style="color: #fff;" mdbActive mdbInputValidate>
              <label for="userName">User Name</label>
            </div>

            <br>

            <div class="md-form">
              <input type="text" formControlName="phone" id="phone" maxlength="10" minLength="10" class="form-control" style="color: #fff;" mdbCharCounter mdbActive mdbInputValidate>
              <label for="phone">Phone</label>
            </div>

          </div>


          <div class="col-sm-6">

            <div class="md-form">
              <input type="email" formControlName="email" id="email" class="form-control" style="color: #fff;" mdbActive mdbInputValidate>
              <label for="email">Email</label>
            </div>

            <br>

            <div class="md-form">
              <input type="text" formControlName="passEnter" id="passEnter" autocomplete="off" class="form-control password" style="color: #fff;" mdbActive mdbInputValidate>
              <label for="passEnter">Password</label>
            </div>

            <br>

            <div class="md-form">
              <input type="text" formControlName="passConfirm" [ngClass]="{
              'counter-success': confirmpass, 'counter-danger': confirmfail}" id="passConfirm" autocomplete="off" class="form-control password" style="color: #fff;" mdbActive mdbInputValidate (input)="onConfirmPassword()">
              <label for="passConfirm">Confirm Password</label>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div style="padding-top: 30px;">
      <div class="text-center">
        <button class="btn btn-primary waves-light" type="submit" mdbRippleRadius [disabled]="signInLoading">{{signInButtonLabel}}</button>
        or <a class="text-primary" [routerLink]="'/logIn'"> Already have an account, LogIn? </a>
      </div>
    </div>
  </form>

</div>
