<div class="route-page">
  <form [formGroup]="signUpFormData" (ngSubmit)="onSignUp()" novalidate >
    <div class="mdb-color darken-1" style="padding-top: 20px;padding-bottom: 30px; min-height: 65vh;">
      <div class="container">

        <div class="row container-fluid">
          <p class="h5 mb-4" style="color: #9e9e9e; border: 2px solid #9e9e9e; border-radius: 8px; padding: 12px 20px; font-size: 30px; font-family: 'Comic Sans MS'"><em>Sign Up</em></p>
        </div>

        <div class="row">
          <div class="col-sm-6 offset-sm-3">

            <div class="md-form">
              <input type="text" formControlName="username" id="name" class="form-control" style="color: #fff;" mdbActive mdbInputValidate>
              <label for="name">Full Name</label>
            </div>

            <br>

            <div class="md-form">
              <input type="text" formControlName="username" id="phone" maxlength="10" minLength="10" class="form-control" style="color: #fff;" mdbCharCounter mdbActive mdbInputValidate>
              <label for="phone">Phone</label>
            </div>

            <br>

            <div class="md-form">
              <input type="email" formControlName="username" id="username" class="form-control" style="color: #fff;" mdbActive mdbInputValidate>
              <label for="username">Email</label>
            </div>

            <br>

            <div class="md-form">
              <input type="text" formControlName="password" id="password" autocomplete="off" class="form-control password" style="color: #fff;" mdbActive mdbInputValidate>
              <label for="password">Password</label>
            </div>

            <br>

            <div class="md-form">
              <input type="text" formControlName="confirmPassword" [ngClass]="{
              'counter-success': confirmpass, 'counter-danger': confirmfail}" id="confirmPassword" autocomplete="off" class="form-control password" style="color: #fff;" mdbActive mdbInputValidate (input)="onConfirmPassword()">
              <label for="confirmPassword">Confirm Password</label>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div style="padding-top: 30px;">
      <div class="text-center">
        <button class="btn btn-primary waves-light" type="submit" mdbRippleRadius>SignUp</button>
        or <a class="text-primary" [routerLink]="'/logIn'"> Already have an account, LogIn? </a>
      </div>
    </div>
  </form>

</div>
