a.dropdown-item:hover {
  background-color: #455a64 !important;
}
a.dropdown-item:active {
  background-color: #455a64 !important;
  color: #ffffff !important;
}
a.dropdown-item:focus {
  background-color: #455a64 !important;
  color: #ffffff !important;
}
a.dropdown-item:visited {
  background-color: #455a64 !important;
}
a.nav-link.waves-light {
  height: 100% !important;
}
