<div class="container">

  <div class="row hm-zoom view hoverable" style="padding: 15px;">

    <div class="col-sm-3" (click)="desc.toggle()">
      <img [src]="hotelData.images" style="width: 100%;height: 100%;" class="img-fluid" alt="{{hotelData.hotelName}}">
    </div>

    <div class="col-sm-6"(click)="desc.toggle()">
      <h3>{{hotelData.hotelName}}</h3>
      <hr class="grey lighten-1">
      <h4>{{hotelData.address}}</h4>
      <h5><span class="badge badge-success">{{hotelData.reviews.location}}</span> <strong>Excellent</strong> (reviews)</h5>
    </div>

    <div class="col-sm-3">

      <div class="text-center">
        <h4>Available at</h4>
        <h4><strong class="badge badge-primary">INR {{hotelData.price}}</strong></h4>
        <br>
        <button type="button" class="btn btn-pink darken-4 waves-light" mdbRippleRadius>Book Now</button>
      </div>
    </div>

    <div mdbCollapse="isCollapsed" #desc="bs-collapse">
      <hr>
      <p class="pull-right" style="color: red;font-size: 18px; font-style: italic; font-weight: 600;" (click)="desc.toggle()">Close</p>
      <p><strong>Description</strong></p>
      <p>{{hotelData.description}}</p>
      <p><strong>Perks</strong></p>
      <p><span *ngFor="let perks of hotelData.fascilities" style="margin-left: 8px;"><strong>-</strong> {{perks}}</span></p>
      <p><strong>Reviews</strong></p>
      <div class="row">

        <div class="col-sm-2 offset-sm-1">
          <p>Location: <span class="badge badge-green float-right">{{hotelData.reviews.location}}</span></p>
          <p>Rooms: <span class="badge badge-green float-right">{{hotelData.reviews.rooms}}</span></p>
          <p>Service: <span class="badge badge-green float-right">{{hotelData.reviews.service}}</span></p>
        </div>

        <div class="col-sm-2 offset-sm-2">
          <p>Cleanliness: <span class="badge badge-green float-right">{{hotelData.reviews.cleanliness}}</span></p>
          <p>Value: <span class="badge badge-green float-right">{{hotelData.reviews.valueForMoney}}</span></p>
          <p>Comfor: <span class="badge badge-green float-right">{{hotelData.reviews.comfort}}</span></p>
        </div>

        <div class="col-sm-2 offset-sm-2">
          <p>Facilities: <span class="badge badge-green float-right">{{hotelData.reviews.facilities}}</span></p>
          <p>Building: <span class="badge badge-green float-right">{{hotelData.reviews.building}}</span></p>
          <p>Food: <span class="badge badge-green float-right">{{hotelData.reviews.food}}</span></p>
        </div>

      </div>

  </div>

  <hr class="grey lighten-1">
</div>
